<section class="section featured-projects">
  <div class="section__title">Featured Projects</div>
  <div class="section__content">
    <div class="project acceron">
      <figure class="project__pic">
        <a href="https://acceronafrica.com" target="_blank">
          <img src="{{site.baseurl}}/img/featured/acceron/acceron.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://acceronafrica.com" target="_blank">Acceron Africa</a>
        </div>
        <p>The corporate website for Acceron Africa Consult integrated with an headless Strapi CMS.</p>
      </figcaption>
    </div>

    <div class="project cryptodeck">
      <figure class="project__pic">
        <a href="https://devpost.com/software/cryptodeck" target="_blank">
          <img src="{{site.baseurl}}/img/featured/cryptodeck/cryptodeck.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://devpost.com/software/cryptodeck" target="_blank">Crypto Deck</a>
        </div>
        <p>A multi-chain, no-code platform for creating cryptocurrencies as submission for the <em>Polygon BUIDL IT: Summer 2022</em> hackathon.</p>
      </figcaption>
    </div>

    <div class="project veot">
      <figure class="project__pic">
        <a href="https://devpost.com/software/veot" target="_blank">
          <img src="{{site.baseurl}}/img/featured/veot/veot.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://devpost.com/software/veot" target="_blank">Veot</a>
        </div>
        <p>A decentralized polling platform built upon the Hedera Hashgraph as submission for the <em>Hedera22: Hello Smart Contracts</em> hackathon.</p>
      </figcaption>
    </div>
  </div>
</section>
