<footer class="footer">
  <!-- <div class="footer__copyright">
    <div class="top"> -->
      <!-- <span>Made with</span>
      <img class="emoji" src="{{site.baseurl}}/img/emojis/heart.png" alt="emoji">
      <span>by</span> -->
      <!-- Originally made by
    </div>
    <div class="bottom">
      <a class="underline-link" href="https://brittanychiang.com/" target="_blank">Brittany Chiang</a>
    </div>
  </div> -->
  <div class="footer__links" style="align-self: end;">
    {% for link in site.social %}
    <a href="{{link.url}}" target="_blank" title="{{link.title}}">
      <span class="text">{{link.title}}</span>
      {% if link.title != "blog" %}
      <img src="{{site.baseurl}}/img/social/{{link.title}}.svg" alt="{{link.title}}">
      {% elsif link.title == "blog" %}
      <img src="{{site.baseurl}}/img/social/{{link.title}}.png" alt="{{link.title}}">
      {% endif %}
    </a>
    {% endfor %}
  </div>
</footer>
